# Adobe Dreamweaver added files
_notes
_compareTemp
dwsync.xml
dw_php_codehinting.config
*.mno

# Project Configurations
.ftpconfig
.ftpignore
site/config.php
project.cson
vendor/
site/templates/test.php

# Processwire Directories
site/modules
site/assets
wire

# Track Directories / files in Ignored Directories
!site/modules/DplusUser/DplusUser.module
