<div class="mt-2" role="">
    <h2>{{ title }}</h2>
    {% include 'alert.twig' %}
    <button class="btn btn-default" onclick="window.history.back()">
        <i class="fa fa-undo" aria-hidden="true"></i> Go Back
    </button>
</div>
